In [1]:
import pandas as pd

In [5]:
data=pd.read_csv("E:\\bob\\bank_branches.csv")

In [6]:
data.head()

,ifsc,bank_id,branch,address,city,district,state,bank_name
0,ABHY0065001,60,RTGS-HO,"ABHYUDAYA BANK BLDG., B.NO.71, NEHRU NAGAR, KU...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED
1,ABHY0065002,60,ABHYUDAYA NAGAR,"ABHYUDAYA EDUCATION SOCIETY, OPP. BLDG. NO. 18...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED
2,ABHY0065003,60,BAIL BAZAR,"KMSPM'S SCHOOL, WADIA ESTATE, BAIL BAZAR-KURLA...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED
3,ABHY0065004,60,BHANDUP,"CHETNA APARTMENTS, J.M.ROAD, BHANDUP, MUMBAI-4...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED
4,ABHY0065005,60,DARUKHANA,"POTIA IND.ESTATE, REAY ROAD (E), DARUKHANA, MU...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED

In [7]:
import sqlite3

In [8]:
connection = sqlite3.connect("bankdetails.db")

In [9]:
curs = connection.cursor()

In [10]:
curs.execute("create table if not exists bankdetails" + " (ifsc text,bank_id integer, branch text,address text, city text,district text, state text, bank_name text)")

In [11]:
data.to_sql('bankdetails', connection, if_exists='replace', index=False)

In [12]:
curs.execute('select * from bankdetails')

In [13]:
records = curs.fetchall()